/* Общие */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.horizont-line {
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.button {
  display: block;
  width: 240px;
  height: 50px;
  font: inherit;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #fb565a;
  border: none;
}

.button:hover, .button:focus {
  background-color: #e74246;
}

.button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

/* header */

.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}

.site-navigation,
.basket-navigation {
  list-style: none;
}

.site-navigation a,
.basket-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.basket-navigation a:active {
  opacity: 0.3;
  color: #000000;
}

.slider1 {}

.slider2 {}

.slider3 {}

.slider-title {}

.slider-text {}

.slider-button {}

.page-header {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
  background-color: #eeeeee;
}

/* main */

.features-list {
  list-style: none;
}

.features-item {
  text-align: left;
}

.features h3 {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.features p {
  color: #283136;
}

.button-red {
  width: 160px;
  height: 50px;
}

.button-green {
  width: 160px;
  height: 50px;
  background-color: #00ca74;
}

.button-green:hover, .button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
}

.button-yellow {
  width: 160px;
  height: 50px;
  background-color: #efc84a;
}

.button-yellow:hover, .button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
}

.about {
  background-color: #ffffff;
}

.about-slogan {
  color: #000000;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-text {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.about-worklist-title {
  color: #000000;
  font-family: "Roboto - Bold";
  font-weight: 700;
  text-transform: uppercase;
}

.about-worklist {
  list-style: none;
}

.about-worklist li:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  vertical-align: middle;
  margin-right: 10px;
  background-color: #fb565a;
}

.indicators {
  background-color: #ffffff;
}

.indicators-title {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.indicators-list {
  list-style: none;
}

.indicators-item {}

.indicators-number {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
}

.indicators-text {
  color: #283136;
  font-weight: 400;
  line-height: 18px;
}

.portfolio {
  background-color: #ffffff;
}

.portfolio-list {
  list-style: none;
}

.portfolio-item a {
  opacity: 0.2;
}

.portfolio-item a:hover,
.portfolio-item a:focus {
  opacity: 1;
}

.portfolio-item a:active {
  opacity: 0.1;
}

.map {
  background-color: #eeeeee;
}

.map-window {
  background-color: #ffffff;
}

.map-window-title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.map-window-text {
  color: #666666;
  line-height: 18px;
}

.button-map {
  width: 219px;
  height: 50px;
}

.social {
  background-color: #ffffff;
}

.social-title {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.social-text {
  color: #444444;
  line-height: 22px;
}

.social-list {
  list-style: none;
}

.social-item {
  text-align: center;
  vertical-align: middle;
}

.social-button {
  display: block;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  color: #ffffff;
  background-color: #e74246;
}

.social-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: #ffffff;
}

.modal {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
